$white: #ffffff;
$blue: #26a4f2;
$gray: #444444;
$gray-light: #979797;
$gray-disabled: #bac0c5;
$gray-banner: #dee5ec;
$font-family: 'Muli', sans-serif;
$breakpoint-min-small: 'max-width: 575px';

*,
h1,
h2,
h3,
h4 {
  font-family: $font-family;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 26px;
  color: $gray;
  font-family: 'Cabin Condensed', sans-serif;
}

p {
  color: $gray-light;
}
.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  margin-top: 1rem;
  border-radius: 15px;
  border: 0.5px solid $gray-light;
  width: 15rem;
  height: 2rem;
  padding-left: 15px;
}
.input:focus {
  outline: none;
  border: 0.5px solid $blue;
}
.button {
  @extend .flex-center-center;
  text-align: center;
  position: relative;
  color: $white;
  background-color: $blue;
  width: 15rem;
  height: 2.8rem;
  letter-spacing: 0.03rem;
  border-radius: 5.62rem;
  margin: 1.7rem auto 0;
  border: none;
  cursor: pointer;
  text-align: center;
  outline: none;
  text-decoration: none;
  vertical-align: middle;
  transition: width 1s;
}
.button:hover {
  opacity: 0.8;
}
.disabledButton {
  background-color: $gray-disabled;
}
.buttonIcon {
  max-height: 1.5rem;
  color: $white;
}

.main-container {
  @extend .flex-center-center;
  overflow-y: auto;
  position: relative;
  width: 100%;
  overflow: hidden;
  flex-direction: column;

  .currency-exchange-form {
    @extend .flex-center-center;
    width: 100vw;
    height: 13rem;
    padding: 0 0.8rem 1.5rem;
    justify-content: flex-end;
    background-color: $gray-banner;
    border: 2px solid $gray-light;
    flex-direction: column;
    .fieldsContaner {
      @extend .flex-center-center;
      justify-content: space-evenly;
      width: 50rem;
      flex-direction: row;
      @media ($breakpoint-min-small) {
        flex-direction: column;
      }
    }
  }
  .historicPrice {
    width: 100%;
    .currenciesContainer {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      @media ($breakpoint-min-small) {
        flex-direction: column;
      }
    }
    .pricesContainer {
      display: flex;
      flex-direction: column;
    }
  }
}
